:root {
  --red: #ED3127;
  --grey: #E5E5E5;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
body.red {
  background-color: #ED3127;
}
body.red *::selection {
  background-color: #E5E5E5;
}
body.red footer {
  background-color: transparent;
}
body.red footer * {
  color: #FFFFFF;
}
body.red footer .social-link svg * {
  fill: #FFFFFF;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0;
  background: transparent;
}

*::selection {
  background-color: #ED3127;
}

.no-scroll {
  overflow: hidden;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.error-text {
  margin: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-footer footer {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a, a:hover {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

img,
picture,
figure {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.scroll {
  overflow: scroll;
}

.lock {
  overflow: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.outer {
  box-sizing: content-box;
  margin: 75px auto;
  width: calc(100vw - 150px);
  max-width: 1550px;
}

.gradient:before {
  pointer-events: none;
  z-index: 2;
  opacity: 0.4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.background img, .background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.block-wrapper {
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
}

.bw .background,
.bw img {
  filter: grayscale(1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.bw:hover .background,
.bw:hover img,
.bw .text:hover ~ .background,
.bw .text:hover ~ img {
  filter: grayscale(0);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.text:hover ~ .bw .background,
.text:hover ~ .bw img {
  filter: grayscale(0);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.scale .background,
.scale img,
.scale video {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.scale:hover .background,
.scale:hover img,
.scale:hover video {
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.icons .icon.close {
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #ED3127;
  position: absolute;
  top: 0;
  -moz-transform: translate3d(-100.2%, 0, 0);
  -o-transform: translate3d(-100.2%, 0, 0);
  -ms-transform: translate3d(-100.2%, 0, 0);
  -webkit-transform: translate3d(-100.2%, 0, 0);
  transform: translate3d(-100.2%, 0, 0);
}
.icons .icon.close * {
  stroke: #FFFFFF;
}

.menu-opened .icons .icon.close {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
  color: inherit;
  width: fit-content;
}
.highlight:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 10%;
  height: 80%;
  background: #ED3127;
  transition: right 0.3s ease-out, left 0.3s ease-out;
}

.highlight:hover:before,
.slide:hover .highlight:before,
.one-column:hover .highlight:before,
.projects .project .text .btn:hover ~ .project-info .highlight:before {
  right: 0;
  left: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s !important;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.fade-in--offscreen {
  opacity: 0 !important;
  transform: translateY(20px) !important;
}

.fade-in[data-cascade] {
  transition-delay: calc(var(--animation-order) * 0.1s) !important;
}

/* Define margin classes */
.margin-top-xs {
  margin-top: 20px;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-top-md {
  margin-top: 30px;
}

.margin-top {
  margin-top: 75px;
}

.margin-top-lg {
  margin-top: 100px;
}

.margin-top-xl {
  margin-top: 200px;
}

.margin-bottom-xs {
  margin-bottom: 20px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}

.margin-bottom-md {
  margin-bottom: 30px;
}

.margin-bottom {
  margin-bottom: 75px;
}

.margin-bottom-lg {
  margin-bottom: 100px;
}

.margin-bottom-xl {
  margin-bottom: 200px;
}

.small {
  height: 400px !important;
}

.medium {
  height: 600px !important;
}

.large {
  height: 750px !important;
}

@media (max-width: 1500px) {
  .margin-top {
    margin-top: 50px;
  }
  .margin-bottom {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .outer {
    width: calc(100vw - 100px);
    margin: 30px;
  }
  .margin-top-xl {
    margin-top: 100px;
  }
  .margin-bottom-xl {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .slider-nav {
    display: none !important;
  }
  .small,
  .medium,
  .large {
    height: 500px !important;
  }
}
@media (max-width: 576px) {
  .outer {
    width: calc(100vw - 40px);
    margin: 20px;
  }
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-Italic.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-Md.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-MdIt.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-MdIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-Bd.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-Bd.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Now";
  src: url("/assets/fonts/HelveticaNowDisplay-BdIt.woff2") format("woff2"), url("/assets/fonts/HelveticaNowDisplay-BdIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Now", helvetica, sans-serif !important;
}

h1, .h1 {
  font-size: 5.625rem;
  font-weight: 700;
  margin: unset;
  color: #555555;
  line-height: 1.2em;
  line-height: 1em;
}

h2, .h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: unset;
  color: #555555;
  line-height: 1.2em;
}

h3, .h3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: unset;
  color: #555555;
  line-height: 1.2em;
}

h4, .h4, .h4 h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: unset;
  color: #555555;
  line-height: 1.2em;
}

h1, p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p, a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2em;
}
p.thin, a.thin {
  font-weight: 500;
  line-height: 1.7em;
}

a {
  color: inherit;
}

.top-left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-center {
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.top-center .text {
  align-items: center;
}

.top-right {
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
}

.center-left {
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}

.center-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.center-center .text {
  align-items: center;
}

.center-right {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
}

.bottom-left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-end;
}

.bottom-center {
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.bottom-center .text {
  align-items: center;
}

.bottom-right {
  text-align: left;
  justify-content: flex-end;
  align-items: flex-end;
}

.landing-section .top-left,
.landing-section .top-center,
.landing-section .top-right {
  padding-top: 200px !important;
}

@media (max-width: 992px) {
  .landing-section .top-left,
  .landing-section .top-center,
  .landing-section .top-right {
    padding-top: 150px !important;
  }
}
@media (max-width: 768px) {
  .landing-section .top-left,
  .landing-section .top-center,
  .landing-section .top-right {
    padding-top: 100px !important;
  }
}
@media (max-width: 576px) {
  h1, .h1 {
    font-size: 3.25rem;
  }
  h2, .h2 {
    font-size: 2.25rem;
  }
  h3, .h3 {
    font-size: 1.25rem;
  }
  h4, .h4, .h4 h3 {
    font-size: 1.15rem;
  }
  p {
    font-size: 0.9rem;
  }
}
nav {
  width: 100vw;
  height: 100px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
}
nav.nav-red .menu {
  background-color: #ED3127;
}
nav.nav-red .menu * {
  color: #FFFFFF !important;
}
nav.nav-red .menu .logo img {
  filter: invert(1);
}
nav.nav-white .menu {
  background-color: #FFFFFF;
}
nav.nav-white .menu * {
  color: #555555;
}
nav:before, nav:after {
  content: "";
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}
nav:before {
  height: inherit;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
nav:after {
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
nav.scrolled:before {
  opacity: 1;
  visibility: visible;
  border-bottom: 1px solid #E5E5E5;
}
nav.scrolled-without-border .icon, nav.scrolled .icon {
  border: 1px solid #E5E5E5;
}
nav.scrolled-without-border .logo, nav.scrolled .logo {
  height: 60px;
  top: 0;
}
nav.scrolled-without-border .logo #builders, nav.scrolled .logo #builders {
  fill: #555555 !important;
}
nav.border .icon {
  border: 1px solid #E5E5E5;
}
nav.visible:after {
  opacity: 0.6;
  visibility: visible;
}
nav .bar {
  top: 0;
  width: calc(100vw - 150px);
  margin: auto;
  max-width: 1550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .logo,
nav .icon {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
nav .logo {
  position: relative;
  top: 10px;
  will-change: height;
  height: 80px;
  z-index: 2;
}
nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav .logo:hover {
  opacity: 0.6;
}
nav .logo svg.nav-svg {
  height: 100%;
}
nav .logo svg.nav-svg * {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
nav .menu {
  gap: 40px;
  overflow: scroll;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 170px);
  max-width: 1550px;
  height: 100vh;
  -moz-transform: translate3d(-100.1%, 0, 0);
  -o-transform: translate3d(-100.1%, 0, 0);
  -ms-transform: translate3d(-100.1%, 0, 0);
  -webkit-transform: translate3d(-100.1%, 0, 0);
  transform: translate3d(-100.1%, 0, 0);
  padding: 150px 60px 60px 60px;
  margin-right: calc((100% - 1550px) / 2);
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 1650px) {
  nav .menu {
    padding-left: calc((100% - 1550px) / 2);
  }
}
nav .menu .primary-links,
nav .menu .featured-projects,
nav .menu .brand-text {
  width: 100%;
}
nav .menu .brand-text {
  max-width: 600px;
}
nav .menu .featured-projects-outer h4 {
  margin-bottom: 10px;
}
nav .menu .featured-projects {
  height: 350px;
  display: flex;
}
nav .menu .featured-projects .img-wrapper {
  width: 100%;
  height: calc(100% - 25px);
  position: relative;
  overflow: hidden;
}
nav .menu .featured-projects .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
nav .menu .featured-projects .featured-project {
  width: 100%;
}
nav .menu .featured-projects .featured-project .btn {
  margin-top: 10px;
}
nav .menu .featured-projects .featured-project:first-of-type .img-wrapper {
  border-radius: 15px 0 0 15px;
}
nav .menu .featured-projects .featured-project:last-of-type .img-wrapper {
  border-radius: 0 15px 15px 0;
}
nav .menu .primary-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 75px;
}
nav .menu .primary-links .link {
  font-size: 3em;
  line-height: 1em;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
nav .menu .primary-links .link:hover {
  opacity: 0.5;
  transition-delay: unset !important;
}
nav .menu ul {
  list-style: none;
}
nav .menu .link,
nav .menu .featured-project,
nav .menu .brand-text,
nav .menu h4.header {
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  will-change: transform;
}
nav .menu .link {
  -moz-transform: translate3d(-50px, 0, 0);
  -o-transform: translate3d(-50px, 0, 0);
  -ms-transform: translate3d(-50px, 0, 0);
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
}
nav .menu h4.header {
  -moz-transform: translate3d(-60px, 0, 0);
  -o-transform: translate3d(-60px, 0, 0);
  -ms-transform: translate3d(-60px, 0, 0);
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
}
nav .menu .featured-project {
  -moz-transform: translate3d(-70px, 0, 0);
  -o-transform: translate3d(-70px, 0, 0);
  -ms-transform: translate3d(-70px, 0, 0);
  -webkit-transform: translate3d(-70px, 0, 0);
  transform: translate3d(-70px, 0, 0);
}
nav .menu .brand-text {
  -moz-transform: translate3d(-80px, 0, 0);
  -o-transform: translate3d(-80px, 0, 0);
  -ms-transform: translate3d(-80px, 0, 0);
  -webkit-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0);
}
nav .menu .brand-text {
  transition-delay: 0.45s;
}
nav .menu .link:nth-child(1),
nav .menu .featured-project:nth-child(1),
nav .menu h4.header {
  transition-delay: 0.35s;
}
nav .menu .link:nth-child(2),
nav .menu .featured-project:nth-child(2) {
  transition-delay: 0.25s;
}
nav .menu .link:nth-child(3),
nav .menu .featured-project:nth-child(3) {
  transition-delay: 0.15s;
}
nav .menu .link:nth-child(4),
nav .menu .featured-project:nth-child(4) {
  transition-delay: 0.05s;
}
nav.menu-opened.scrolled #builders {
  fill: #FFFFFF !important;
}
nav.menu-opened {
  text-align: left;
  width: 100vw;
  margin: unset;
  background: transparent;
  transition: background-color 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
nav.menu-opened #builders {
  fill: #FFFFFF !important;
}
nav.menu-opened #jh,
nav.menu-opened #logo-bg {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1) !important;
}
nav.menu-opened #jh {
  fill: #FFFFFF;
}
nav.menu-opened #logo-bg {
  fill: #ED3127;
}
nav.menu-opened:after {
  opacity: 0.8;
  visibility: visible;
}
nav.menu-opened.scrolled:before {
  opacity: 0;
}
nav.menu-opened.scrolled .icon {
  border: unset;
}
nav.menu-opened .menu {
  pointer-events: initial;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
nav.menu-opened .menu .link,
nav.menu-opened .menu .featured-project,
nav.menu-opened .menu .brand-text,
nav.menu-opened .menu h4.header {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (max-width: 1500px) {
  nav .bar {
    width: calc(100vw - 100px);
  }
  nav .menu {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1200px) {
  nav .menu {
    width: 100vw;
  }
  nav .menu .primary-links {
    gap: 10px 40px;
  }
  nav .menu .primary-links .link {
    font-size: 2.25rem;
  }
  nav .icons .icon.close {
    background-color: #FFFFFF;
  }
  nav .icons .icon.close svg * {
    stroke: #ED3127;
  }
}
@media (max-width: 992px) {
  nav {
    height: 80px;
  }
  nav .bar {
    width: calc(100vw - 100px);
    height: inherit;
  }
  nav .bar:before {
    height: 80px;
  }
  nav .logo {
    height: 70px;
  }
  nav.scrolled-without-border .logo, nav.scrolled .logo {
    height: 50px;
  }
  nav .primary-links .description {
    display: none;
  }
  nav .primary-links .link a {
    display: none;
  }
  nav .primary-links:last-of-type {
    padding-bottom: 75px;
  }
  nav .primary-links .link a:not(.gradient) {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: capitalize;
  }
}
@media (max-width: 768px) {
  nav .featured-projects-outer {
    display: none !important;
  }
  nav .menu {
    justify-content: space-between;
  }
  nav .menu .primary-links {
    flex-direction: column;
    gap: 6svh;
    margin-bottom: 50px;
  }
  nav .menu .link:nth-child(4),
  nav .menu .featured-project:nth-child(4),
  nav .menu h4.header {
    transition-delay: 0.35s;
  }
  nav .menu .link:nth-child(3),
  nav .menu .featured-project:nth-child(3) {
    transition-delay: 0.25s;
  }
  nav .menu .link:nth-child(2),
  nav .menu .featured-project:nth-child(2) {
    transition-delay: 0.15s;
  }
  nav .menu .link:nth-child(1),
  nav .menu .featured-project:nth-child(1) {
    transition-delay: 0.05s;
  }
}
@media (max-width: 576px) {
  nav .menu {
    padding: 140px 25px 25px 25px;
  }
  nav .bar {
    width: calc(100vw - 50px);
  }
}
body.red nav #builders, body.red footer #builders {
  fill: #FFFFFF !important;
}
body.red nav #jh, body.red footer #jh {
  fill: #FFFFFF;
}
body.red nav #logo-bg, body.red footer #logo-bg {
  fill: transparent;
}
body.red nav.scrolled #builders, body.red footer.scrolled #builders {
  fill: #FFFFFF !important;
}
body.red nav:before, body.red footer:before {
  background-color: #ED3127 !important;
  border: unset !important;
}

footer {
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  max-width: 1550px;
  background: #FFFFFF;
  color: #555555;
  height: 240px;
  padding: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: content-box;
}
footer .logo {
  height: 100%;
}
footer .logo a, footer .logo img, footer .logo svg {
  height: inherit;
}
footer .logo a {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
footer .logo a:hover {
  opacity: 0.8;
}
footer .footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .footer-links a {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
footer .footer-links a:hover {
  opacity: 0.6;
}
footer .social-link {
  height: 23px;
  width: 23px;
  display: inline-block;
}
footer .social-link svg {
  height: 100%;
  width: 100%;
}
@media (max-width: 1500px) {
  footer {
    padding: 50px;
  }
}
@media (max-width: 992px) {
  footer {
    height: 160px;
  }
  footer .footer-links {
    align-items: flex-start;
    gap: 15px;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    text-align: left;
  }
  footer .social-link {
    order: -1;
  }
}
@media (max-width: 768px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
    height: unset;
  }
  footer .logo {
    height: 150px;
  }
}
@media (max-width: 576px) {
  footer {
    padding: 75px 25px 25px 25px;
  }
}

.two-column {
  display: flex;
  height: 100svh;
  width: 100%;
}

.one-column {
  width: 50%;
  height: 100%;
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
.one-column:first-of-type {
  padding-left: calc((100% - 1550px) / 2);
}
.one-column .text {
  max-width: 415px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.one-column .text div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.one-column * {
  color: #FFFFFF;
}
.one-column .background {
  z-index: 0;
}
.one-column .background:before {
  opacity: 0.75;
}

@media (max-width: 1700px) {
  .one-column {
    padding-left: 75px !important;
  }
}
@media (max-width: 1500px) {
  .one-column {
    padding: 50px !important;
  }
}
@media (max-width: 1200px) {
  .two-column {
    flex-direction: column;
    height: unset;
  }
  .one-column {
    width: 100%;
    height: 100svh;
    max-height: unset;
  }
}
@media (max-width: 576px) {
  .one-column {
    padding: 25px !important;
  }
}
.landing.story video {
  object-position: top left;
}
@media (max-width: 768px) {
  .landing.story video {
    object-position: center;
  }
}

.contact .text {
  max-width: unset;
  gap: 10px;
}
.contact .text div {
  flex-direction: row;
  gap: 8px 30px;
  flex-wrap: wrap;
}
.contact .text .btn {
  margin-top: 30px;
}
.contact .form-wrapper {
  z-index: 10;
  height: 100%;
  width: 100%;
  background: #ED3127;
  position: absolute;
  left: 0;
  top: 0;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 40px;
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.contact .form-wrapper .fui-i,
.contact .form-wrapper .close {
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  -moz-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.contact .form-wrapper .close {
  transition-delay: 0.15s;
}
.contact .form-wrapper .fui-i {
  width: 100%;
  transition-delay: 0.3s;
}
.contact .form-wrapper .fui-i .fui-heading.fui-heading-h2 {
  max-width: 370px;
}
.contact .form-wrapper .fui-i .fui-form {
  width: 100%;
}
.contact .form-wrapper .fui-i .fui-alert-success {
  height: initial;
  width: 100%;
  display: block;
  border: unset;
  margin: unset;
  padding: unset;
  font-size: 3rem;
}
.contact .form-wrapper .fui-i .fui-alert-success p {
  max-width: 80%;
  text-align: left;
  font-size: 2rem;
}
.contact .form-wrapper.active {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.contact .form-wrapper.active .fui-i,
.contact .form-wrapper.active .close {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.projects {
  width: calc(100vw - 150px);
  max-width: 1550px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 75px;
}
.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .project {
  position: relative;
  overflow: hidden;
  height: calc(100svh - 250px);
  min-height: 400px;
  max-height: 750px;
}
.projects .project:first-of-type {
  border-radius: 15px 15px 0 0;
}
.projects .project:last-of-type {
  border-radius: 0 0 15px 15px;
}
.projects .project .text {
  z-index: 2;
  padding: 60px;
  width: inherit;
  height: inherit;
  max-height: inherit;
  min-height: inherit;
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.projects .project .text * {
  color: #FFFFFF !important;
}
.projects .project .text .btn {
  order: 2;
}
.projects .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.projects .project.active .overlay {
  background-color: rgba(0, 0, 0, 0);
}
.projects .project .gradient:before {
  opacity: 0.2;
}
@media (max-width: 1500px) {
  .projects {
    width: calc(100vw - 100px);
  }
  .projects .project .text {
    padding: 50px;
  }
}
@media (max-width: 992px) {
  .projects {
    width: calc(100vw - 100px);
  }
  .projects .project .project-info h3:last-of-type {
    display: none;
  }
}
@media (max-width: 768px) {
  .projects .back {
    display: none !important;
  }
  .projects .project .text {
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  .projects .project .project-info {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .projects {
    width: 100vw;
    margin-top: unset;
  }
  .projects .project {
    border-radius: unset !important;
  }
  .projects .project .text {
    padding: 45px 25px;
  }
  .projects .project .text span.label {
    display: none;
  }
}

.project-images {
  position: absolute;
}

.back {
  display: inline-flex !important;
  gap: 40px;
}
.back a {
  color: #555555;
}
.back a.active {
  color: #ED3127;
}

.project .slider-outer {
  position: fixed;
}
.project .arrow.disabled {
  opacity: 1;
}
.project .inner {
  padding: unset !important;
  justify-content: space-between;
  align-items: flex-end;
  padding: unset;
  max-width: 1550px;
  font-size: 1em;
}
.project .inner .arrows,
.project .inner .magnify,
.project .inner .project-info,
.project .inner .project-buttons,
.project .inner h3 {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) !important;
}
.project .inner.active h3 {
  color: #555555;
}
.project .inner.active h3:first-of-type {
  color: #ED3127;
}
.project .inner.active .arrows,
.project .inner.active .magnify {
  border: 1px solid #E5E5E5;
}
.project .inner.active .project-info {
  -moz-transform: translate3d(0, 3px, 0);
  -o-transform: translate3d(0, 3px, 0);
  -ms-transform: translate3d(0, 3px, 0);
  -webkit-transform: translate3d(0, 3px, 0);
  transform: translate3d(0, 3px, 0);
}
.project .inner.active .project-buttons {
  -moz-transform: translate3d(0, 15px, 0);
  -o-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
.project .project-info,
.project .project-buttons {
  display: flex;
  position: relative;
  gap: 30px;
}
.project .project-info {
  flex-wrap: wrap;
  gap: 10px 30px;
}
.project .project-info.h4 {
  gap: 20px;
}
.project .project-info * {
  line-height: 1em;
}
.project .project-buttons {
  gap: 20px;
}
.project .spacer {
  width: 20px;
  background: #FFFFFF;
}
.project .background.gradient {
  background-size: cover;
  background-position: center;
}
.project .background.gradient picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.project .background.gradient picture.active {
  opacity: 1;
  z-index: 1;
}
.project .background.gradient picture.previous {
  opacity: 0;
  z-index: 0;
}
.project .slider-container {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 100%;
  height: calc(100svh - 350px);
}
.project .slider {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  height: inherit;
}
.project .slider .slide {
  width: 100%;
  height: calc((100svh - 350px) / 2);
}
.project .slider .slide picture {
  cursor: pointer;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}
.project .slider .slide picture img {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  height: 100%;
}
.project .slider .slide:hover {
  opacity: 0.9;
}
.project .slider .slide:hover img {
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.project .slider .slide:nth-child(odd) {
  grid-row: 1;
}
.project .slider .slide:nth-child(even) {
  grid-row: 2;
}
.project .slider .slide:first-of-type picture {
  border-radius: 15px 0 0 0;
}
.project .slider .slide:nth-of-type(2) picture {
  border-radius: 0 0 0 15px;
}
@media (max-width: 992px) {
  .project .slider-container {
    bottom: unset;
    top: 100px;
    height: calc(100svh - 250px);
  }
  .project .slider-container .slider .slide {
    height: calc((100svh - 250px) / 2);
  }
  .project .inner.active .project-info {
    -moz-transform: translate3d(0, 15px, 0);
    -o-transform: translate3d(0, 15px, 0);
    -ms-transform: translate3d(0, 15px, 0);
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
}
@media (max-width: 576px) {
  .project .project-info h3:last-of-type,
  .project .project-info h3:nth-of-type(2),
  .project span.label {
    display: none;
  }
  .project .inner .project-info h3 {
    font-size: 1.5rem;
  }
  .project .project-buttons {
    gap: 15px;
  }
  .project .inner.active .project-buttons,
  .project .inner.active .project-info {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (max-height: 600px) {
  .project .slider-container {
    height: 250px;
  }
  .project .slider-container .slider .slide {
    height: 125px;
  }
}

.press-outer {
  width: calc(100vw - 150px);
  max-width: 1550px;
  margin: auto;
}
.press-outer h1 {
  color: #ED3127;
  margin: 20px auto;
}
.press-outer .pdf-viewer {
  width: 100%;
  background-color: #FFFFFF;
}
.press-outer canvas {
  display: block;
  margin: 0 auto 20px auto;
}
.press-outer .text {
  display: flex;
  flex-direction: column;
}
.press-outer .text p {
  max-width: 750px;
  margin: auto;
}
.press-outer figure {
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  height: 80svh;
  min-height: 500px;
  max-height: 1000px;
  width: 100%;
}
.press-outer figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.press-outer .blog {
  text-align: left;
}
.press-outer .blog h1 {
  margin-bottom: 50px;
  text-align: center;
}
.press-outer .blog .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.press-outer .blog .inner p {
  font-weight: 500;
  line-height: 2em;
  margin: auto;
}
.press-outer .blog .inner figure {
  margin: 10px auto;
}
.press-outer canvas,
.press-outer .website-image {
  height: calc(100svh - 150px);
  box-shadow: 0px 5px 30px rgba(85, 85, 85, 0.1);
}
.press-outer .website-link {
  margin-top: 30px;
}
.press-outer .website-image {
  max-height: 1000px;
  width: 100%;
  object-fit: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  will-change: filter;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) !important;
  cursor: pointer;
}
.press-outer .website-image h2, .press-outer .website-image:before {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.press-outer .website-image h2 {
  position: absolute;
  margin: auto;
  color: #FFFFFF;
  z-index: 3;
}
.press-outer .website-image picture, .press-outer .website-image img, .press-outer .website-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.press-outer .website-image:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #ED3127;
  z-index: 2;
}
.press-outer .website-image:hover:before {
  opacity: 0.95;
  visibility: visible;
}
.press-outer .website-image:hover .btn,
.press-outer .website-image:hover h2 {
  visibility: visible;
  opacity: 1;
}

.careers-outer {
  max-width: 1550px;
  padding: 75px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  box-sizing: content-box;
}
.careers-outer .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.careers-outer .text div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.careers-outer .text h1 {
  margin-left: -0.04em;
  margin-top: -0.15em;
}
.careers-outer .text h1.one-word {
  font-size: clamp(3.25rem, 6vw, 5.5rem);
}
.careers-outer .text h2 {
  margin-top: -10px;
  margin-bottom: 20px;
}
.careers-outer .text h3 {
  text-decoration: underline;
}
.careers-outer .text * {
  color: #FFFFFF;
}
.careers-outer .text p {
  max-width: 500px;
}
.careers-outer .text ol, .careers-outer .text ul {
  margin: unset;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.careers-outer .text,
.careers-outer .fui-i {
  width: 50%;
}
.careers-outer .fui-i {
  position: sticky;
  top: 125px;
}
.careers-outer .fui-i .fui-heading.fui-heading-h2 {
  max-width: 76%;
}
@media (max-width: 1500px) {
  .careers-outer {
    padding: 50px;
  }
}
@media (max-width: 992px) {
  .careers-outer {
    flex-direction: column;
  }
  .careers-outer .text,
  .careers-outer .fui-i {
    width: 100%;
  }
  .careers-outer .text p {
    max-width: 700px;
  }
}
@media (max-width: 576px) {
  .careers-outer {
    padding: 25px;
  }
  .careers-outer .text h1 {
    margin-top: unset;
  }
  .careers-outer .text h1.one-word {
    font-size: clamp(2rem, 10vw, 5.5rem);
  }
  .careers-outer .text h2 {
    font-size: 1.5rem;
    margin-top: -20px;
  }
}

.landing {
  position: relative;
  height: 100svh;
  width: 100vw;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #FFFFFF;
  padding: 75px;
}
.landing .inner {
  max-width: 1550px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 1em;
  z-index: 5;
  font-size: 1em;
}
.landing .inner .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.landing .inner .text img {
  width: 80%;
  max-width: 450px;
}
.landing .inner * {
  color: #FFFFFF;
}
.landing .inner p {
  max-width: 1000px;
}
.landing .inner .description-wrapper,
.landing .inner .iframe-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.landing .background,
.landing .carousel {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.landing .carousel.gradient:before {
  z-index: 4;
}
.landing .carousel .carousel-item {
  height: inherit;
  width: inherit;
  position: inherit;
  z-index: 2;
  opacity: 0;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.landing .carousel .carousel-item.active {
  z-index: 3;
  opacity: 1;
}
.landing .progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: #E5E5E5;
  z-index: 4;
}
.landing .progress-bar .progress {
  will-change: width;
  width: 0%;
  height: 100%;
  background-color: #ED3127;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 1;
}
.landing.project {
  background: #FFFFFF;
}
@media (max-width: 1500px) {
  .landing {
    padding: 50px;
  }
}
@media (max-width: 576px) {
  .landing {
    padding: 45px 25px;
  }
  .landing.project {
    padding-bottom: 25px !important;
  }
  .landing.home .buttons.wrapper {
    margin-left: -25px;
    overflow: scroll;
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
    width: calc(100% + 50px);
  }
  .landing.home .buttons.wrapper a:nth-of-type(1) {
    padding-left: 25px;
  }
  .landing.home .buttons.wrapper .buttons {
    padding-right: 32px;
  }
  .landing.home .buttons.wrapper .buttons a {
    padding-left: unset;
  }
}

.block-wrapper h2 {
  margin-bottom: 20px;
}

.slider-header,
.slider {
  padding-left: calc((100% - 1550px) / 2);
  scroll-padding-left: calc((100% - 1550px) / 2);
}

.slider-container {
  position: relative;
}
.slider-container .arrow-next,
.slider-container .arrow-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
}
.slider-container .arrow-next {
  right: calc((100% - 1550px) / 2 - 30px);
}
.slider-container .arrow-prev {
  left: calc((100% - 1550px) / 2 - 30px);
}
.slider-container .slider {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1px;
  padding-right: calc((100% - 1550px) / 2);
}
.slider-container .slider.visible-cards-1 .slide {
  width: 100%;
}
.slider-container .slider.visible-cards-2 .slide {
  width: 50%;
}
.slider-container .slider.visible-cards-3 .slide {
  width: 33.33%;
}
.slider-container .slider.visible-cards-4 .slide {
  width: 25%;
}
.slider-container .slider.accordion {
  overflow: unset;
  flex-wrap: wrap;
  padding-right: calc((100% - 1550px) / 2);
}
.slider-container .slider.accordion .accordion-slide {
  position: relative;
  overflow: hidden;
}
.slider-container .slider.accordion .accordion-slide * {
  color: #FFFFFF !important;
}
.slider-container .slider.accordion .accordion-slide .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
}
.slider-container .slider.accordion .accordion-slide .text div:first-of-type {
  display: flex;
  gap: 20px;
}
.slider-container .slider.accordion .accordion-slide .slide-out {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.slider-container .slider.accordion .accordion-slide .slide-out:before {
  content: "";
  transform: scaleX(0);
  transition: 0.3s ease;
  background-color: #ED3127;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.slider-container .slider.accordion .accordion-slide .slide-out .inner {
  opacity: 0;
  transition: opacity 0.3s ease 0.1s;
  z-index: 2;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
}
.slider-container .slider.accordion .accordion-slide .slide-out .inner p {
  max-width: 500px;
}
.slider-container .slider.accordion .accordion-slide .slide-out .inner .inner-header {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.slider-container .slider.accordion .accordion-slide .slide-out.active:before {
  transform: scaleX(1);
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(odd) .image {
  border-radius: 15px 0 0 15px;
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(odd) .slide-out {
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(odd) .slide-out:before {
  transform-origin: left;
  border-radius: 0 15px 15px 0;
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(even) .image {
  border-radius: 0 15px 15px 0;
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(even) .slide-out {
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.slider-container .slider.accordion .accordion-slide:nth-of-type(even) .slide-out:before {
  transform-origin: right;
  border-radius: 15px 0 0 15px;
}
.slider-container .slider.accordion .accordion-slide:last-of-type .image {
  border-radius: 15px;
  transition: border-radius 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.slider-container .slider.accordion .accordion-slide.active {
  overflow: visible;
}
.slider-container .slider.accordion .accordion-slide.active .slide-out:before {
  transform: scaleX(1);
}
.slider-container .slider.accordion .accordion-slide.active .inner {
  opacity: 1;
}
.slider-container .slider.accordion .accordion-slide.active:last-of-type .image {
  border-radius: 15px 0 0 15px;
}
.slider-container .slider.accordion .accordion-trigger {
  cursor: pointer;
}
.slider-container .slider.careers ~ .arrow {
  border: 1px solid #ED3127;
}
.slider-container .slide {
  scroll-snap-align: start;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
.slider-container .slide:first-of-type .image {
  border-radius: 15px 0 0 15px;
}
.slider-container .slide:last-of-type .image {
  border-radius: 0 15px 15px 0;
}
.slider-container .slide .image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.slider-container .slide .image img, .slider-container .slide .image video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slider-container .slide .text {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
}
.slider-container .slide .text .name {
  color: #ED3127;
}
.slider-container .slide .text .position {
  color: #555555;
}
.slider-container .slide.career {
  justify-content: flex-end;
  max-height: 400px;
  border: 1px solid #ED3127;
  border-right: unset;
  padding: 60px;
}
.slider-container .slide.career:first-of-type {
  border-radius: 15px 0 0 15px;
}
.slider-container .slide.career:last-of-type {
  border-radius: 0 15px 15px 0;
  border-right: 1px solid #ED3127;
}
.slider-container .slide.career .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
}
.slider-container .slide.career .text div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slider-container .slide.career .text div span {
  display: flex;
  gap: 20px;
}
.slider-container .slide.career .text div span h4:first-of-type {
  color: #ED3127;
}
.slider-container .slide.career .text p {
  width: 90%;
  max-width: 450px;
}
.slider-container .slide.employee {
  max-width: 550px;
}
.slider-container .slide.employee .text {
  gap: 20px;
}
.slider-container .slide.project {
  max-width: 775px;
}
.slider-container .slide.project .project-info h3 {
  color: #555555;
}
.slider-container .slide.project .project-info h3:first-of-type {
  color: #ED3127;
}
.slider-container .slide.press .press-info {
  display: flex;
  gap: 20px;
}
.slider-container .slide.press .text {
  flex-wrap: wrap;
}

@media (max-width: 1700px) {
  .slider-header,
  .slider,
  .project-overview:first-of-type {
    padding-left: 75px;
    scroll-padding-left: 75px;
  }
  .slider-container .slider {
    padding-right: 75px !important;
  }
  .slider-container .arrow-next {
    right: 45px;
  }
  .slider-container .arrow-prev {
    left: 45px;
  }
}
@media (max-width: 1500px) {
  .slider-header,
  .slider,
  .project-overview,
  .project-overview:first-of-type {
    padding-left: 50px;
    scroll-padding-left: 50px;
  }
  .slider-container .slider {
    padding-right: 50px !important;
  }
  .slider-container .arrow-next {
    right: 30px;
  }
  .slider-container .arrow-prev {
    left: 30px;
  }
}
@media (max-width: 1300px) {
  .slider-container .slider.visible-cards-3 .slide {
    width: 50%;
    max-width: unset;
  }
  .slider-container .slider .slide.career .text {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .slider-container .slide.project .project-info h3:last-of-type {
    display: none;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out .inner {
    padding: 50px;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out .inner .inner-header h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 992px) {
  .slider-container .arrow-next,
  .slider-container .arrow-prev {
    height: 50px;
  }
  .slider-container .slide:not(.project-slide) {
    min-width: 80% !important;
  }
  .slider-container .slider.accordion .text {
    gap: 30px;
  }
  .slider-container .slider.accordion .accordion-slide {
    min-width: 100% !important;
  }
  .slider-container .slider.accordion .accordion-slide .image {
    border-radius: 15px !important;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out {
    -moz-transform: translate3d(0, 0, 0)  !important;
    -o-transform: translate3d(0, 0, 0)  !important;
    -ms-transform: translate3d(0, 0, 0)  !important;
    -webkit-transform: translate3d(0, 0, 0)  !important;
    transform: translate3d(0, 0, 0)  !important;
    pointer-events: none;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out:before {
    border-radius: 15px !important;
  }
  .slider-container .slider.accordion .accordion-slide.active .slide-out {
    pointer-events: initial;
  }
  .slider-container .slide.career {
    padding: 50px;
  }
}
@media (max-width: 768px) {
  .slider-container .slide:not(.project-slide) {
    min-width: 100% !important;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out .inner {
    padding: 30px;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out .inner .inner-header {
    gap: 20px;
  }
  .slider-container .slider.accordion .accordion-slide .slide-out .inner .inner-header h2 {
    font-size: 1.25rem;
  }
  .slider-container .slide.career {
    padding: 30px;
  }
  .slider-container .slide {
    gap: 15px;
  }
}
@media (max-width: 576px) {
  .position {
    display: none;
  }
  .slider-container .slide.project .text {
    gap: 10px;
  }
  .slider-header,
  .slider,
  .project-overview,
  .project-overview:first-of-type {
    padding-left: 25px;
    scroll-padding-left: 25px;
  }
  .slider-container .arrow-next,
  .slider-container .arrow-prev {
    display: none !important;
  }
  .slider-container .slider {
    padding-right: 25px !important;
  }
}
.banner {
  padding: 60px 75px;
  box-sizing: content-box;
}
.banner.text {
  gap: 75px;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.banner.text h1 {
  color: #ED3127;
  white-space: nowrap;
}
.banner.text p {
  padding-top: 26px;
}
.banner.text .inner {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.banner.box {
  background-color: #ED3127;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.banner.box .inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1550px;
  margin: 0 auto;
  width: 100%;
}
.banner.box * {
  color: #FFFFFF;
}
@media (max-width: 1500px) {
  .banner {
    padding: 50px;
  }
}
@media (max-width: 1300px) {
  .banner.text.long {
    flex-direction: column;
    gap: 30px !important;
    max-width: 800px;
    margin-left: unset;
  }
  .banner.text.long p {
    padding-top: unset;
  }
}
@media (max-width: 992px) {
  .banner.text {
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin-left: unset;
  }
  .banner.text p {
    padding-top: unset;
  }
}
@media (max-width: 576px) {
  .banner {
    padding: 45px 25px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s !important;
}

.fui-i {
  --fui-input-line-height: 2;
  --fui-btn-line-height: 2;
  --fui-focus-border-color: var(--grey);
  --fui-primary-color-hover: #fff;
  --fui-submit-btn-color: var(--red) !important;
  --fui-primary-color: #fff;
  --fui-alert-error-color: #fff;
  --fui-alert-success-color: #fff;
  --fui-input-background-color: transparent;
  --fui-error: #fff;
  --fui-error-color: #fff;
  --fui-border: 0 solid #fff;
  --fui-border-color: #fff;
  --fui-input-error-color: #fff;
  --fui-submit-btn-color-hover: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fui-i h2,
.fui-i .fui-error-message,
.fui-i input,
.fui-i input::placeholder,
.fui-i .iti__selected-country,
.fui-i textarea,
.fui-i textarea::placeholder {
  color: #FFFFFF;
}
.fui-i * {
  font-weight: 600;
}
.fui-i textarea {
  min-height: 75px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.fui-i .fui-heading.fui-heading-h2 {
  width: 100%;
  line-height: 1em;
  margin-bottom: 20px;
}
.fui-i .fui-alert-success {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.fui-i .fui-alert-success p {
  max-width: 300px;
  text-align: center;
}
.fui-i .fui-submit {
  width: 100%;
  font-weight: 600;
}
.fui-i .fui-input[type=file] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.fui-i .fui-input[type=file]:hover,
.fui-i .fui-submit:hover {
  opacity: 0.8;
  -moz-transform: translate3d(0, -1px, 0);
  -o-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.fui-i .fui-input[type=file]::-webkit-file-upload-button {
  text-align: left;
  background-color: #ED3127;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-right: 20px;
}
.fui-i .fui-input[type=file]::-moz-file-upload-button {
  text-align: left;
  background-color: #ED3127;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-right: 20px;
}
.fui-i .careers-outer .fui-i .fui-input[type=file]:after {
  content: url("web/assets/svg/arrow.svg");
  display: block;
  width: 14px;
  height: 16px;
}

.buttons {
  display: flex;
  gap: 60px;
}

.close:hover {
  filter: brightness(1.5);
}

.back {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 40px;
  z-index: 999;
  display: inline-block;
  text-align: center;
  padding: 0 120px;
  max-width: 1550px;
  width: fit-content;
}
.back .btn-arrow {
  position: absolute !important;
  right: unset !important;
  left: -25px;
  bottom: 1.5px !important;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.anchor .btn-arrow {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.red .back .btn {
  color: #FFFFFF;
}

.hover {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.hover:hover {
  opacity: 0.5;
  -moz-transform: translate3d(0, -1px, 0);
  -o-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}

.btn {
  gap: 8px;
  width: fit-content;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer !important;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555555;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
  border: none;
  white-space: nowrap;
}
.btn.icon {
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #FFFFFF;
}
.btn .btn-arrow {
  position: relative;
  bottom: -0.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.btn .btn-arrow svg {
  position: absolute;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn .btn-arrow svg:first-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn .btn-arrow svg:last-of-type {
  -moz-transform: translate3d(-115%, 0, 0);
  -o-transform: translate3d(-115%, 0, 0);
  -ms-transform: translate3d(-115%, 0, 0);
  -webkit-transform: translate3d(-115%, 0, 0);
  transform: translate3d(-115%, 0, 0);
}
.btn .btn-arrow svg * {
  stroke: #FFFFFF;
}
.btn .btn-arrow svg.red-arrow * {
  stroke: #ED3127;
}
.btn .btn-arrow svg.white-arrow * {
  stroke: #FFFFFF;
}
.btn .btn-arrow svg.black-arrow * {
  stroke: #555555;
}
.btn:hover svg:first-of-type {
  -moz-transform: translate3d(115%, 0, 0);
  -o-transform: translate3d(115%, 0, 0);
  -ms-transform: translate3d(115%, 0, 0);
  -webkit-transform: translate3d(115%, 0, 0);
  transform: translate3d(115%, 0, 0);
}
.btn:hover svg:last-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.arrows {
  border-radius: 3px;
  display: flex;
}
.arrows .arrow-prev {
  border-radius: 3px 0 0 3px;
}
.arrows .arrow-next {
  border-radius: 0 3px 3px 0;
}

.arrow .btn-arrow {
  right: unset;
  bottom: unset;
}
.arrow.dark {
  background-color: #FFFFFF;
}
.arrow.dark svg {
  fill: #ED3127;
}
.arrow.arrow-prev svg:first-of-type {
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  -o-transform: translate3d(0, 0, 0) rotate(180deg);
  -ms-transform: translate3d(0, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.arrow.arrow-prev svg:last-of-type {
  -moz-transform: translate3d(115%, 0, 0) rotate(180deg);
  -o-transform: translate3d(115%, 0, 0) rotate(180deg);
  -ms-transform: translate3d(115%, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(115%, 0, 0) rotate(180deg);
  transform: translate3d(115%, 0, 0) rotate(180deg);
}
.arrow.arrow-next svg:first-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.arrow.arrow-next svg:last-of-type {
  -moz-transform: translate3d(-115%, 0, 0);
  -o-transform: translate3d(-115%, 0, 0);
  -ms-transform: translate3d(-115%, 0, 0);
  -webkit-transform: translate3d(-115%, 0, 0);
  transform: translate3d(-115%, 0, 0);
}
.arrow:hover.arrow-prev svg:first-of-type {
  -moz-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -o-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -ms-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(-115%, 0, 0) rotate(180deg);
  transform: translate3d(-115%, 0, 0) rotate(180deg);
}
.arrow:hover.arrow-prev svg:last-of-type {
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  -o-transform: translate3d(0, 0, 0) rotate(180deg);
  -ms-transform: translate3d(0, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.arrow:hover.arrow-next svg:first-of-type {
  -moz-transform: translate3d(115%, 0, 0);
  -o-transform: translate3d(115%, 0, 0);
  -ms-transform: translate3d(115%, 0, 0);
  -webkit-transform: translate3d(115%, 0, 0);
  transform: translate3d(115%, 0, 0);
}
.arrow:hover.arrow-next svg:last-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.arrow.disabled {
  opacity: 0;
}

@media (max-width: 992px) {
  .btn.icon {
    padding: 17px;
  }
  .btn.icon:not(.arrow) {
    margin: 0 -0.5px;
  }
  .buttons {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: 0.85rem;
  }
}
@media (max-width: 576px) {
  .back {
    display: none !important;
  }
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading-screen.visible {
  opacity: 1;
  visibility: visible;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
  transform: translateY(-20px);
}

#loading-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
