{% set heading = block.heading ?? null %}
{% set text = entry.text ?? null %}
{% set marginTop = marginTop ?? 'margin-top' %}
{% set marginBottom = marginBottom ?? 'margin-bottom' %}

<div class="banner text {{ block.textAlignment }} {{ marginTop }} {{ marginBottom }}">
    <h1>{{ heading }}</h1>
        {% include '_includes/_blocks/text' with {
            text: text,
            maxWidth: entry.maxWidth
        } %}
</div>
