{% set text = block[handle] ?? null %}
{% set maxWidth = maxWidth ?? null %}
{% set link = link ?? null %}
{% set marginTop = marginTop ?? 'margin-top' %}
{% set marginBottom = marginBottom ?? 'margin-bottom' %}

<div class="banner box {{ marginTop }} {{ marginBottom }}">
    <div class="inner fade-in" data-cascade>
        {% if text %}
            {% include '_includes/_blocks/text' %}
        {% endif %}

        {% include '_includes/_blocks/button' with {
            secondArrow: 'white-arrow'
        }%}
    </div>
</div>
