{% set class = class ?? null %}
{% set newTab = newTab ?? false %}
{% set fadeIn = fadeIn is defined and fadeIn == true ? 'fade-in' : '' %}

<a {% if newTab == true %}target="_blank"{% endif %} href="{{ link }}" class="btn {{ class }} {% if fadeIn == true %}fade-in{% endif %}" {% if fadeIn == true %}data-cascade{% endif %}>
  {{ label }}
  {% include "_includes/_icons/arrowBase" %}
</a>