{# {% set height = height ?? 'medium' %} #}
{% set visibleCards = visibleCards ?? '2' %}
{% set slides = slides ?? block.slides.all() %}

<div class="slider-container {% if height is defined %}{{ height }}{% endif %}">
    <div class="slider" data-visible-cards="{{ visibleCards }}">
        {% block slides %}
            {% for slide in slides %}
                {% include slideTemplate with { slide: slide } %}
            {% endfor %}
        {% endblock %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sliders = document.querySelectorAll('.slider');
        sliders.forEach(function(slider) {
            var visibleCards = slider.getAttribute('data-visible-cards');
            var slideWidth = 100 / visibleCards;
            slider.querySelectorAll('.slide').forEach(function(slide) {
                slide.style.width = slideWidth + '%';
            });
        });
    });
</script>
