<div class="slide employee">
    <div class="image {% if height is defined %}{{ height }}{% endif %}">
        {% if slide.staffImage is defined %}
            {% set asset = slide.staffImage.one() %}
            {% if asset %}
                {% include '_includes/_blocks/asset' with { asset: asset } %}
            {% endif %}
        {% endif %}
    </div>
    <div class="text">
        <h4 class="name">{{ slide.title }}</h4>
        <h4 class="position">{{ slide.position }}</h4>
    </div>
</div>
