{# {% set height = height ?? 'medium' %} #}
{% set visibleCards = visibleCards ?? '2' %}
{% set slides = slides ?? block.slides.all() %}
{% set class = class ?? null %}
{% set slideHeader = slideHeader ?? null %}

<div class="slider-outer margin-y-xl">
    {% if slideHeader %}
        <h3 class="slider-header">{{slideHeader}}</h3>
    {% endif %}
    <div class="slider-container">
        <div class="slider {{ class }}" data-visible-cards="{{ visibleCards }}">
            {% block slides %}
                {% for slide in slides %}
                    {% include slideTemplate with {
                        slide: slide
                        }
                    %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
