{% set transform = {
    width: 2560,
    height: 1440,
    format: 'webp',
    mode: 'crop',
    quality: 100
} %}

{% set fullUrl = slide.getUrl(transform) %}
<div class="slide project-slide" data-full-url="{{ fullUrl }}">
    {% include '_includes/_blocks/asset' with {
        asset: slide,
        width: 1000,
        height: 600,
        quality: 90
    } %}
</div>
