html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body {
  box-sizing: border-box;
  margin: 0;
  &.dark {
    background: $red;
  }
}
* {
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
*::-webkit-scrollbar { 
    display: none !important;
    width: 0;
    background: transparent;
}
.no-scroll {
  overflow: hidden;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.error-text {
  margin: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  @include flex-center;
}
.no-footer footer {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
a, a:hover {
  text-decoration: none;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.scroll {
  overflow: scroll;
}
.lock {
  overflow: hidden;
}
.active {
  opacity: 1;
  visibility: visible;
}
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  color: $red;
  transition: $transition;
  border: none;
  &.icon {
    padding: 21px;
    // border: 1px solid $grey;
    @include flex-center;
    border-radius: $btn-radius;
    background: $white;
  }
  // arrows that are to the right of text on all buttons
  .btn-arrow {
    position: relative;
    bottom: -2px;
    right: -10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    svg {
      position: absolute;
      transition: $transition;
      &:first-of-type {
        @include translate(0,0,0);
      }
      &:last-of-type {
        @include translate(-115%,0,0);
      }
      * {
        stroke: $white;
      }
      &.red-arrow * {
        stroke: $red;
      }
      &.white-arrow * {
        stroke: $white;
      }
      &.black-arrow * {
        stroke: $black;
      }
    }
  }
  &:hover {
    svg {
      &:first-of-type {
        @include translate(115%,0,0);
      }
      &:last-of-type {
        @include translate(0,0,0);
      }
    }
  }
}
.close {
  &:hover {
    filter: brightness(1.5);
  }
  &:before {
    display: block;
    content: "";
    background: url("/images/icons/close.svg") no-repeat 0 0/contain;
    height: 12px;
    width: 12px;
  }
}
// arrows that are used for carousels
.arrows {
  display: flex;
  .arrow-prev {
    border-radius: $btn-radius 0 0 $btn-radius;
  }
  .arrow-next {
    border-radius: 0 $btn-radius $btn-radius 0;
  }
}
.arrow {
  svg {
    width: 15px;
    transition: $transition;
  }
  &.arrow-prev svg {
    transform: rotate(-180deg);
  }
  &.arrow-next svg {
    transform: rotate(0deg);
  }
  &.dark {
    background-color: $white;
    svg {
      fill: $red;
    }
  }
  &:not(.disabled):hover {
    &.arrow-prev svg {
      transform: rotate(-180deg) translateX(2px);
    }
    &.arrow-next svg {
      transform: rotate(0deg)  translateX(2px);
    }
  }
}
.outer {
  box-sizing: content-box;
  margin: $margin auto;
  width: $width;
  max-width: $max-width;
}
.gradient:before {
  z-index: 1;
  opacity: .4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.background {
  img, video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
  }
}
@include respond-to-max($desktop-large) {
  .btn {
    padding: 18px 30px;
  }
}
@include respond-to-max($desktop) {
  .outer {
    width: $width-medium;
    margin: $margin-medium;
  }
}
@include respond-to-max($tablet) {
  .slider-nav {
    display: none !important;
  }
}
@include respond-to-max($mobile) {
  .outer {
    width: $width-small;
    margin: $margin-small;
  }
}