nav {
  width: 100vw;
  height: 100px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include flex-center;
  font-size: 1em;
  text-align: center;
  &:before,
  &:after {
    content: '';
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
  }
  &:before {
    height: inherit;
  }
  &:after {
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  &.scrolled {
    &:before {
      opacity: 1;
      visibility: visible;
      border-bottom: 1px solid $grey;
    }
    .icon {
      border: 1px solid $grey;
    }
    .logo {
      height: 60px;
      top: 0;
    }
  }
  &.visible {
    &:after {
      opacity: .6;
      visibility: visible;
    }
  }
  .wrapper {
    top: 0;
    width: $width;
    margin: auto;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo,
  .icon {
    transition: $transition;
  }
  .logo {
    position: relative;
    top: 10px;
    will-change: height;
    height: 80px;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &:hover {
      opacity: .6;
    }
    svg {
      height: 100%;
    }
  }
  .primary-links {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    gap: 4.5vw;
    .link {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 800;
      position: relative;
      background: transparent;
      text-shadow: $text-shadow;
      outline: 0;
      color: $white;
      letter-spacing: .1em;
      a:not(.gradient) {
        transition: $transition;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  ul {
    list-style: none;
  }
  &.menu-opened {
    text-align: left;
    width: 100vw;
    margin: unset;
    background: transparent;
    transition: background-color $transition;
    .wrapper {
      height: inherit;
      width: inherit;
    }
    &:after {
      opacity: .8;
      visibility: visible;
    }
    &.scrolled {
      &:before {
        opacity: 0;
      }
      .icon {
        border: unset;
      }
    }
    .primary-links {
      height: 100vh;
      overflow: scroll;
      width: inherit;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: $gap;
      .link {
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding: $padding-medium 0 0 0;
        &:first-of-type {
          padding-top: 120px;
        }
        &:last-of-type {
          padding-bottom: $margin-small;
        }
        a {
          display: block;
        }
      }
    }
  }
  @include respond-to-max($desktop-xlarge) {
  }
  @include respond-to-max($desktop) {
    height: 82px;
    .wrapper {
      position: fixed;
      width: $width-medium;
      &:before {
        height: 80px;
      }
    }
    .logo {
      top: 0;
    }
    .logo {
      margin-top: $margin-medium;
    }
    .primary-links {
      .description {
        display: none;
      }
      .link {
        a {
          display: none;
        }
      }
      &:last-of-type {
        padding-bottom: $margin;
      }
    }
    .primary-links .link a:not(.gradient) {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: capitalize;
    }
    .primary-links .link a:not(.gradient) {
      margin-left: $margin-medium;
    }
    &.menu-opened {
      .logo {
        margin-left: $margin-medium;
      }
    }
  }
  @include respond-to-max($tablet) {
    height: 65px;
    .logo {
      width: 90px;
      height: 19px;
      top: -2px;
    }
    .wrapper {
      width: calc(100vw - 50px);
      &:before {
        height: 70px;
      }
    }
    .hamburger,
    .logo {
      margin-top: 25px;
    }
    .primary-links .link a:not(.gradient) {
      margin-left: 25px;
    }
    &.menu-opened {
      .logo {
        margin-left: 25px;
      }
    }
  }
  @include respond-to-max($mobile) {

  }
  @include respond-to-max($mobile-small) {
  }
}