<h2 class="h3">{{ entry.title }}</h2>
{% set location = entry.projectLocation.one() %}
{% if location %}
    <h2 class="h3">
        {{ location.locality }}, {{ location.administrativeArea }}
    </h2>
{% endif %}
{% if entry.projectDate %}
    <h2 class="h3">{{ entry.projectDate | date('Y') }}</h2>
{% endif %}
