<span class="btn-arrow">
    {% include "_includes/_svg/arrow.svg" with { class: firstArrow is defined ? firstArrow : 'white-arrow' } %}
    {% include "_includes/_svg/arrow.svg" with { class: secondArrow is defined ? secondArrow : 'red-arrow' } %}
</span>