<div class="buttons">
    {% for button in buttons %}
        {% set link = button.buttonLink.one() %}
        {% if link %}
            {% set link = link.getUrl() %}
            {% set firstArrow = firstArrow is defined ? firstArrow : 'white-arrow' %}
            {% set secondArrow = secondArrow is defined ? secondArrow : 'red-arrow' %}
            {% include '_includes/button' with { 
                link: link, 
                label: button.buttonLabel, 
                firstArrow: firstArrow, 
                secondArrow: secondArrow 
            } %}
        {% endif %}
    {% endfor %}
</div>
