<nav>
	<div class="wrapper">
		{% if craft.rebrand.isLogoUploaded() %}
			<a href="{{ currentSite.baseUrl }}" class="logo">
			    <img src="{{ craft.rebrand.getLogo().url }}" alt="{{ siteName }} Logo">
		    </a>
		{% else %}
			<a href="{{ currentSite.baseUrl }}" class="logo">
				{% include '_includes/_svg/logo-vertical.svg' %}
			</a>
		{% endif %}
		<button class="btn icon nav-js">{% include '_includes/_svg/nav.svg' %}</button>
	</div>
</nav>