<nav>
	<div class="wrapper">
		<a href="{{ currentSite.baseUrl }}" class="logo">
			<img src="" alt="{{ siteName }} Logo">
		</a>
		<div class="hamburger">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<ul class="primary-links">
		    <li></li>
		</ul>
	</div>
</nav>