.careers-outer {
    max-width: $max-width;
    padding: 75px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    gap: $gap-large;
    box-sizing: content-box;
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $gap;
        div {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        h1 {
            margin-left: -.04em;
            margin-top: -.15em;
            // to align large header with body copy
            &.one-word {
                font-size: clamp(3.25rem, 6vw, 5.5rem);
            }
        }
        h2 {
            margin-top: -10px;
            margin-bottom: $margin-small;
        }
        h3 {
            text-decoration: underline;
        }
        * {
            color: $white;
        }
        p {
            max-width: 500px;
        }
        ol, ul {
            margin: unset;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .text,
    .fui-i {
        width: 50%;
    }
    .fui-i {
        position: sticky;
        top: 125px;
        .fui-heading.fui-heading-h2 {
            max-width: 76%;
        }
    }
    @include respond-to-max($desktop-xlarge) {
        padding: 50px;
    }
    @include respond-to-max($desktop) {
        flex-direction: column;
        .text,
        .fui-i {
            width: 100%;
        }
        .text p {
            max-width: 700px;
        }
    }
    @include respond-to-max($mobile) {
        padding: 25px;
        .text h1 {
            margin-top: unset;
            &.one-word {
                font-size: clamp(2rem, 10vw, 5.5rem);
            }
        }
        .text h2 {
            font-size: 1.5rem;
            margin-top: -20px;
        }
    }
}
