// project category pages
.projects {
    width: $width;
    max-width: $max-width;
    margin: auto;
    margin-top: $margin-xlarge;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project {
        position: relative;
        overflow: hidden;
        height: calc(100vh - 250px);
        min-height: 400px;
        max-height: 750px;
        &:first-of-type {
            border-radius: $box-radius $box-radius 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 $box-radius $box-radius;
        }
        .text {
            z-index: 2;
            padding: $padding;
            width: inherit;
            height: inherit;
            max-height: inherit;
            min-height: inherit;
            position: absolute;
            display: flex;
            align-items: flex-end;
            gap: $gap-medium;
            * {
                color: $white;
            }
            .btn {
                margin-left: $margin;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        &.active .overlay {
            background-color: rgba(0, 0, 0, 0);
        }
        .gradient:before {
            opacity: .2;
        }
    }
}
.project-images {
    position: absolute;
}
.project-overview {
    width: 50%;
    height: 100%;
    padding: $padding-large;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    .text {
        max-width: 415px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
    }
    * {
        color: $white;
    }
    .background {
        z-index: 0;
    }
}

// individual project page
.project-info,
.project-buttons {
    display: flex;
    gap: $gap;
}