// project category pages
.projects {
    width: $width;
    max-width: $max-width;
    margin: auto;
    margin-top: $margin-xlarge;
    margin-bottom: $margin;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project {
        position: relative;
        overflow: hidden;
        height: calc(100vh - 250px);
        min-height: 400px;
        max-height: 750px;
        &:first-of-type {
            border-radius: $box-radius $box-radius 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 $box-radius $box-radius;
        }
        .text {
            z-index: 2;
            padding: $padding;
            width: inherit;
            height: inherit;
            max-height: inherit;
            min-height: inherit;
            position: absolute;
            display: flex;
            align-items: flex-end;
            gap: $gap-large;
            * {
                color: $white !important;
            }
            .btn {
                // for highlight effect to work
                order: 2;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        &.active .overlay {
            background-color: rgba(0, 0, 0, 0);
        }
        .gradient:before {
            opacity: .2;
        }
    }
    @include respond-to-max($desktop-xlarge) {
        width: $width-medium;
        .project .text {
            padding: 50px;
        }
    }
    @include respond-to-max($desktop) {
        width: $width-medium;
        .project .project-info h3:last-of-type {
            display: none;
        }
    }
    @include respond-to-max($tablet) {
        .back {
            display: none !important;
        }
        .project .text {
            justify-content: space-between;
            width: 100%;
            gap: $gap-medium;
        }
        .project .project-info {
            gap: $gap-medium;
        }
    }
    @include respond-to-max($mobile) {
        width: 100vw;
        margin-top: unset;
        .project {
            border-radius: unset !important;
            .text {
                padding: 45px 25px;
                span.label {
                    display: none;
                }
            }
        }
    }
}

.project-images {
    position: absolute;
}
.back {
    display: inline-flex !important;
    gap: $gap-large;
    a {
        color: $black;
        &.active {
            color: $red;
        }
    }
}