{# Initialize variable to store textAlignment #}
{% set textAlignment = '' %}

{# Initialize variable to store maximum maxWidth #}
{% set maxChildMaxWidth = null %}

{# Loop through blocks to find the first textAlignment value and maximum maxWidth #}


<div class="landing-section {{ entry.slug }}">
    

    {% for block in entry.landing.all() %}
        {% switch block.type.handle %}
            {% case 'asset' %}
                {% include '_includes/asset' with { asset: block.background.one(), loopVideo: block.loopVideo, overlayOpacity: block.backgroundOverlay / 10 } %}
        {% endswitch %}
    {% endfor %}
</div>
