<div id="loading-screen" class="loading-screen">
    <dotlottie-player
        src="https://lottie.host/df05c864-88a5-46e0-af01-6fb3db2cab08/SfiZpDFxOh.json"
        background="transparent"
        speed="1"
        style="width: 100%; height: 100%"
        direction="1"
        playMode="normal"
        autoplay>
    </dotlottie-player>
</div>