{% extends "index" %}

{% block content %}
    {% set featuredProject = entry.featuredProject.one() %}
    {% if featuredProject %}
        {% include '_includes/_blocks/landingFeatured' with {
            block: entry,
            maxWidth: entry.topMaxWidth
        } %}
    {% else %}
        <p class="error-text">No featured project selected.</p>
    {% endif %}

    {% include '_includes/_blocks/banner' with {
        block: entry,
        handle: 'bannerText',
        marginTop: '',
        link: entry.buttonLinkEntries.one().getUrl(),
        label: entry.buttonLabel,
        maxWidth: entry.bottomMaxWidth
    } %}
{% endblock %}
