{% extends "index" %}

{% block content %}
<div class="text center-center margin-xl">
    <h1>{{ entry.title }}</h1>
    {{ entry.text }}
</div>

<div id="pdf-viewer" class="pdf-viewer margin-y-xl" data-url="{{ entry.magazineFile.one().url }}"></div>
{% endblock %}