footer {
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: $gap-large;
  width: $width;
  max-width: $max-width;
  background: $white;
  color: $black;
  height: 240px;
  padding: 0 $padding $padding $padding;
  border-radius: $box-radius;
  overflow: hidden;
  box-sizing: content-box;
  .logo {
    height: 100%;
    a, img {
      height: inherit;
    }
    a {
      transition: $transition-medium;
      &:hover {
        opacity: .8;
      }
    }
  }
  .footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: $gap-large; 
    a {
      transition: $transition;
      &:hover {
        opacity: .6;
      }
    }
  }
    .social-link {
      height: 23px;
      width: 23px;
      display: inline-block;
      svg {
        height: 100%;
        width: 100%;
      }
    }
}
@include respond-to-max($desktop) {
  footer {
    width: $width-medium;
    margin: $margin-medium;
  }
}
@include respond-to-max($tablet) {
  footer {
    align-items: center;
  }
}
@include respond-to-max($mobile) {
  footer {
    width: $width-small;
    margin: $margin-small;
    padding: $padding-large $padding;
    align-items: flex-start;
  }
}