html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body {
  box-sizing: border-box;
  margin: 0;
  &.dark {
    background: $red;
  }
}
* {
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
*::-webkit-scrollbar { 
    display: none !important;
    width: 0;
    background: transparent;
}
*::selection {
  background-color: $red;
}
.no-scroll {
  overflow: hidden;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.error-text {
  margin: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  @include flex-center;
}
.no-footer footer {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
a, a:hover {
  text-decoration: none;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.scroll {
  overflow: scroll;
}
.lock {
  overflow: hidden;
}
.active {
  opacity: 1;
  visibility: visible;
}
.outer {
  box-sizing: content-box;
  margin: $margin auto;
  width: $width;
  max-width: $max-width;
}
.gradient:before {
  z-index: 1;
  opacity: .4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.background {
  img, video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
  }
}
.block-wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
.bw {
  .background,
  img {
    filter: grayscale(1);
    transition: $transition;
    @include scale(1);
  }
  &:hover {
    .background,
    img {
      filter: grayscale(0);
      @include scale(1.01);
    }
  }
}
.red {
  background-color: $red;
}
.icons {
  @include flex-center;
  overflow: hidden;
  position: relative;
  .icon {
    &.close {
      height: 100%;
      width: 100%;
      z-index: 2;
      background: $red;
      position: absolute;
      top: 0;
      @include translate(-100.2%,0,0);
      * {
        stroke: $white;
      }
    }
  }
}
.menu-opened {
  .icons {
    .icon {
      &.close {
        @include translate(0,0,0);
      }
    }
  }
}

/* Define margin classes */
.margin-xs {
  margin: 8px;
}
.margin-sm {
  margin: 16px;
}
.margin-md {
  margin: 24px;
}
.margin-lg {
  margin: 32px;
}
.margin-xl {
  margin: 100px;
}

/* Margin top and bottom */
.margin-y-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-y-sm {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-y-md {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-y-lg {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-y-xl {
  margin-top: 75px;
  margin-bottom: 75px;
}
.margin-y-xxl {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Margin left and right */
.margin-x-xs {
  margin-left: 8px;
  margin-right: 8px;
}
.margin-x-sm {
  margin-left: 16px;
  margin-right: 16px;
}
.margin-x-md {
  margin-left: 24px;
  margin-right: 24px;
}
.margin-x-lg {
  margin-left: 32px;
  margin-right: 32px;
}
.margin-x-xl {
  margin-left: 40px;
  margin-right: 40px;
}

// dynamic component sizes
.small { 
  height: 400px !important; 
}
.medium { 
  height: 600px !important; 
}
.large {
  height: 880px !important; 
}

@include respond-to-max($desktop) {
  .outer {
    width: $width-medium;
    margin: $margin-medium;
  }
}
@include respond-to-max($tablet) {
  .slider-nav {
    display: none !important;
  }
}
@include respond-to-max($mobile) {
  .outer {
    width: $width-small;
    margin: $margin-small;
  }
}