nav {
  width: 100vw;
  height: 100px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include flex-center;
  font-size: 1em;
  text-align: center;
  &.nav-red {
    .menu {
      background-color: $red;
      * {
        color: $white !important;
      }
      .logo img {
        filter: invert(1);
      }
    }
  }
  &.nav-white {
    .menu {
      background-color: $white;
      * {
        color: $black;
      }
    }
  }
  &:before,
  &:after {
    content: '';
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }
  &:before {
    height: inherit;
    transition: $transition;
  }
  &:after {
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: $transition-long;
  }
  &.scrolled {
    &:before {
      opacity: 1;
      visibility: visible;
      border-bottom: 1px solid $grey;
    }
  }
  &.scrolled-without-border,
  &.scrolled {
    .icon {
      border: 1px solid $grey;
    }
    .logo {
      height: 60px;
      top: 0;
    }
  }
  &.visible {
    &:after {
      opacity: .6;
      visibility: visible;
    }
  }
  .bar {
    top: 0;
    width: $width;
    margin: auto;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo,
  .icon {
    transition: $transition;
  }
  .logo {
    position: relative;
    top: 10px;
    will-change: height;
    height: 80px;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &:hover {
      opacity: .6;
    }
    svg {
      height: 100%;
    }
  }
  .menu {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 87vw;
    height: 100vh;
    @include translate(-100.1%,0,0);
    padding: 150px $padding-large $padding-large $padding-large;
    transition: $transition-long;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .primary-links,
    .featured-projects,
    .brand-text {
      width: 100%;
    }
    .brand-text {
      max-width: 600px;
    }
    .featured-projects-outer h4 {
      margin-bottom: 10px;
    }
    .featured-projects {
      height: 350px;
      display: flex;
      .img-wrapper {
        width: 100%;
        height: calc(100% - 25px);
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: $transition-medium;
        }
      }
      .featured-project {
        width: 100%;
        &:hover img {
          @include scale(1.02);
        }
      }
      .featured-project:first-of-type .img-wrapper {
        border-radius: $box-radius 0 0 $box-radius;
      }
      .featured-project:last-of-type .img-wrapper {
        border-radius: 0 $box-radius $box-radius 0;
      }
    }
    .primary-links {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: $gap-small $gap-xlarge;
      .link {
        font-size: 3em;
        line-height: 1em;
        font-weight: 600;;
        display: inline-block;
        position: relative;
        &:hover {
          opacity: .5;
        }
      }
    }
    ul {
      list-style: none;
    }
    .link,
    .featured-project,
    .brand-text,
    h4.header {
      transition: $transition-long;
      opacity: 0;
      will-change: transform;
    }
    .link {
      @include translate(-50px,0,0);
    }
    h4.header {
      @include translate(-60px,0,0);
    }
    .featured-project {
      @include translate(-70px,0,0);
    }
    .brand-text {
      @include translate(-80px,0,0);
    }
    .brand-text {
      transition-delay: .45s;
    }
    .link:nth-child(1),
    .featured-project:nth-child(1),
    h4.header, {
      transition-delay: .35s;
    }
    .link:nth-child(2),
    .featured-project:nth-child(2) {
      transition-delay: .25s;
    }
    .link:nth-child(3),
    .featured-project:nth-child(3) {
      transition-delay: .15s;
    }
    .link:nth-child(4),
    .featured-project:nth-child(4) {
      transition-delay: .05s;
    }
  }
  &.menu-opened {
    text-align: left;
    width: 100vw;
    margin: unset;
    background: transparent;
    transition: background-color $transition;
    .bar {
      height: inherit;
      width: inherit;
    }
    &:after {
      opacity: .8;
      visibility: visible;
    }
    &.scrolled {
      &:before {
        opacity: 0;
      }
      .icon {
        border: unset;
      }
    }
    .menu {
      @include translate(0,0,0);
      .link,
      .featured-project,
      .brand-text,
      h4.header {
        opacity: 1;
        @include translate(0,0,0);
      }
    }
  }
  @include respond-to-max($desktop-xlarge) {
  }
  @include respond-to-max($desktop) {
    height: 82px;
    .bar {
      position: fixed;
      width: $width-medium;
      &:before {
        height: 80px;
      }
    }
    .logo {
      top: 0;
    }
    .logo {
      margin-top: $margin-medium;
    }
    .primary-links {
      .description {
        display: none;
      }
      .link {
        a {
          display: none;
        }
      }
      &:last-of-type {
        padding-bottom: $margin;
      }
    }
    .primary-links .link a:not(.gradient) {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: capitalize;
    }
    .primary-links .link a:not(.gradient) {
      margin-left: $margin-medium;
    }
    &.menu-opened {
      .logo {
        margin-left: $margin-medium;
      }
    }
  }
  @include respond-to-max($tablet) {
    height: 65px;
    .logo {
      width: 90px;
      height: 19px;
      top: -2px;
    }
    .bar {
      width: calc(100vw - 50px);
      &:before {
        height: 70px;
      }
    }
    .hamburger,
    .logo {
      margin-top: 25px;
    }
    .primary-links .link a:not(.gradient) {
      margin-left: 25px;
    }
    &.menu-opened {
      .logo {
        margin-left: 25px;
      }
    }
  }
  @include respond-to-max($mobile) {

  }
  @include respond-to-max($mobile-small) {
  }
}