.banner {
    padding: $padding 75px;
    box-sizing: content-box;
    &.text {
        gap: $gap-xlarge;
        max-width: $max-width;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        h1 {
            color: $red;
            white-space: nowrap;
        }
         p {
            padding-top: 26px;
         }
         .inner {
            gap: $gap;
            display: flex;
            flex-direction: column;
         }
    }
    &.box {
        background-color: $red;
        height: 400px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .inner {
            display: flex;
            flex-direction: column;
            gap: $gap;
            max-width: $max-width;
            margin: 0 auto;
            width: 100%;
        }
        * {
            color: $white;
        }
    }
    @include respond-to-max($desktop-xlarge) {
        padding: 50px;
    }
    @include respond-to-max(1300px) {
        &.text.long {
            flex-direction: column;
            gap: $gap !important;
            max-width: 800px;
            margin-left: unset;
            p {
                padding-top: unset;
            }
        }
    }
    @include respond-to-max($desktop) {
        &.text {
            flex-direction: column;
            gap: $gap-medium;
            max-width: 800px;
            margin-left: unset;
            p {
                padding-top: unset;
            }
        }
    }
    @include respond-to-max($mobile) {
        padding: 45px 25px;
    }
}