.landing-section {
	position: relative;
  height: 100dvh;
  width: 100vw;
  min-height: 600px;
  @include flex-center;
  overflow: hidden;
  background: $red;
  padding: 75px 50px;
  .inner {
    max-width: $max-width;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 1em;
    * {
      color: $white;
    }
    p {
      max-width: 1000px;
    }
		.buttons {
			display: flex;
			gap: $gap;
		}
    .iframe-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $gap;
    }
  }
  .background {
    top: 0;
  	position: absolute;
    height: 100%;
    width: 100%;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0;
      z-index: 1;
    }
  }
  @include respond-to-max($desktop) {
    .inner {
      padding: $padding;
    }
  } // end $desktop
  @include respond-to-max($tablet) {

  } // end $tablet
  @include respond-to-max($mobile) {
    .inner {
      padding: $padding-small;
    }
  } // end $mobile
} // end landing-section
