.block-wrapper h2 {
    margin-bottom: $margin-small;
}
.slider-header,
.slider {
    padding-left: calc((100% - $max-width) / 2);
}
.slider-container {
    .slider {
        height: 100%;
        display: flex;
        overflow-x: scroll;
        padding-right: 100px;
        &.accordion {
            overflow: unset;
            flex-wrap: wrap;
            padding-right: calc((100% - $max-width) / 2);
            .accordion-slide {
                position: relative;
                * {
                    color: $white !important;
                }
                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: $padding-medium;
                    width: 100%;
                    div:first-of-type {
                        display: flex;
                        gap: $gap-medium;
                    }
                }
                .slide-out {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:before {
                        content: '';
                        transform: scaleX(0);
                        transition: $transition-medium;
                        background-color: $red;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                    .inner {
                        width: 75%;
                        height: 100%;
                        padding: $padding;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div:first-of-type {
                            display: flex;
                            flex-direction: column;
                            gap: $gap-medium;
                            div {
                                display: flex;
                                flex-direction: row;
                                gap: $gap-medium;
                            }
                        }
                        .close {
                            width: 42px;
                        }
                    }
                }
                &:nth-of-type(odd) {
                    .image {
                        border-radius: $box-radius 0 0 $box-radius;
                    }
                    .slide-out {
                        @include transform(
                            translate3d(100%, 0, 0)
                        );
                        &:before {
                            transform-origin: right;
                            border-radius: 0 $box-radius $box-radius 0;
                        }
                    }
                }
                &:nth-of-type(even) {
                    .image {
                        border-radius: 0 $box-radius $box-radius 0;
                    }
                    .slide-out {
                        @include transform(
                            translate3d(-100%, 0, 0)
                        );
                        &:before {
                            transform-origin: right;
                            border-radius: $box-radius 0 0 $box-radius;
                        }
                    }
                }
                &:last-of-type {
                    .image {
                        border-radius: $box-radius;
                    }
                }
                &.active {
                    .slide-out {
                        &:before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
            .accordion-trigger {
                cursor: pointer;
            }            
        }
    }
    .slide {
        height:100%;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: $gap-small;
        box-sizing: border-box;
        &:first-of-type {
            .image {
                border-radius: $box-radius 0 0 $box-radius;
            }
        }
        &:last-of-type {
            .image {
                border-radius: 0 $box-radius $box-radius 0;
            }
        }
        .image {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .text {
            display: flex;
            gap: $gap-medium;
            flex-wrap: nowrap;
            .name {
                color: $red;
            }
            .position {
                color: $black;
            }
        }
        &.career {
            border: 1px solid $red;
            border-right: unset;
            padding: $padding;
            &:first-of-type {
                border-radius: $box-radius 0 0 $box-radius;
            }
            &:last-of-type {
                border-radius: 0 $box-radius $box-radius 0;
            }
            .text {
                display: flex;
                flex-direction: column;
                width: 75%;
            }
        }
        &.general {
            max-width: 550px;
        }
    }
}