{% extends "index" %}

{% block content %}

<div class="projects">
    {% include '_projects/projectCategoryHeader' %}
    {% set projects = craft.entries()
        .section('projects')
        .type('project')
        .all() %}
    {% include '_projects/projectCategoryInner' with { projects: projects } %}
</div>

{% endblock %}
