{% block content %}

<div class="projects">
    {% include '_projects/projectCategoryHeader' %}
    <div class="fade-in">
        {% set projects = entry.getDescendants().all() %}
        {% include '_projects/projectCategoryInner' with { projects: projects } %}
    </div>
</div>

{% endblock %}