<div class="landing project-gate">
    <div class="project-overview">
        <div class="text">
            {{ entry.newBuildsText }}
            {% set newBuildsButton = entry.newBuildsButton.one() %}
            {% if newBuildsButton %}
                {% set linkEntry = newBuildsButton.buttonLink.one() %}
                {% if linkEntry %}
                    {% set link = linkEntry.getUrl() %}
                    {% include '_includes/_blocks/button' with { 
                        link: link, 
                        label: newBuildsButton.buttonLabel
                    } %}
                {% endif %}
            {% endif %}
        </div>
        <div class="background gradient">
            {% for asset in entry.newBuildsImage %}
                {% include '_includes/_blocks/asset' %}
            {% endfor %}
        </div>
    </div>
    <div class="project-overview">
        <div class="text">
            {{ entry.remodelsText }}
            {% set remodelsButton = entry.remodelsButton.one() %}
            {% if remodelsButton %}
                {% set linkEntry = remodelsButton.buttonLink.one() %}
                {% if linkEntry %}
                    {% set link = linkEntry.getUrl() %}
                    {% include '_includes/_blocks/button' with { 
                        link: link, 
                        label: remodelsButton.buttonLabel
                    } %}
                {% endif %}
            {% endif %}
        </div>
        <div class="background gradient">
            {% for asset in entry.remodelsImage %}
                {% include '_includes/_blocks/asset' %}
            {% endfor %}
        </div>
    </div>
</div>