<aside class="back">
    <a class="{% if craft.app.request.getSegment(2) == 'all' %}active{% endif %} hover" href="/projects/all">All Projects</a>
    <a class="{% if craft.app.request.getSegment(2) == 'new-builds' %}active{% endif %} hover" href="/projects/new-builds">New Builds</a>
    <a class="{% if craft.app.request.getSegment(2) == 'remodels' %}active{% endif %} hover" href="/projects/remodels">Remodels</a>
</aside>
