<div class="two-column fade-in" data-cascade>
    <div class="one-column project-wrapper">
        <div class="text fade-in" data-cascade>
            <div>
                {{ entry.newBuildsText|replace({'<h2>': '<h2 class="highlight">'})|raw }}
            </div>
            {% if entry.newBuildsButton|length %}
                {% for button in entry.newBuildsButton.all() %}
                        {% include '_includes/_blocks/button' with {
                            link: button.buttonLink,
                            label: button.buttonLabel
                        } %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="background gradient bw">
            {% for asset in entry.newBuildsImage %}
                {% include '_includes/_blocks/asset' %}
            {% endfor %}
        </div>
    </div>
    <div class="one-column project-wrapper">
        <div class="text fade-in" data-cascade>
            <div>
                {{ entry.remodelsText|replace({'<h2>': '<h2 class="highlight">'})|raw }}
            </div>
            {% if entry.remodelsButton|length %}
                {% for button in entry.remodelsButton.all() %}
                        {% include '_includes/_blocks/button' with {
                            link: button.buttonLink,
                            label: button.buttonLabel
                        } %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="background gradient bw">
            {% for asset in entry.remodelsImage %}
                {% include '_includes/_blocks/asset' %}
            {% endfor %}
        </div>
    </div>
</div>