{% block content %}

<div class="project landing-section">
    <div class="inner">
        {% include '_projects/_partials/projectInfo' with { entry: entry } %}
        <button class="btn">
    </div>
    <div class="background">
        {% for image in entry.projectImages.all() %}
            <img src="{{ image.url }}" alt="{{ entry.title }}">
        {% endfor %}
    </div>
</div>

{% endblock %}
