{% block content %}

<div class="project landing">
    <div class="inner">
        {% include '_includes/_blocks/slider' with { 
            slides: entry.projectImages.all(), 
            slideTemplate: '_includes/_blocks/slideProject',
            height: 'auto',
            visibleCards: 1,
            arrows: false
        } %}
        {% include '_projects/projectInfo' with { entry: entry } %}
        <div class="project-buttons">
            {% include '_includes/_icons/arrows' with {
                firstArrow: 'red-arrow'
            }%}
            <div class="icons">
                {% include '_includes/_icons/magnify' %}
                {% include '_includes/_icons/close' %}
            </div>
        </div> 
    </div>
    <div class="background gradient">
        {% set asset = entry.projectImages.one() %}
        {% if asset %}
            {% include '_includes/_blocks/asset' with { asset: asset } %}
        {% endif %}
    </div>
</div>

{% set projects = craft.entries()
    .section('projects')
    .type('project')
    .limit(6)
    .orderBy('RAND()')
    .all() %}

{% if projects %}
    {% include '_includes/_blocks/slider' with { 
        slides: projects, 
        slideTemplate: '_includes/_blocks/slideProjects',
        height: 'medium',
        visibleCards: 2,
        arrows: true,
        slideHeader: 'More Projects'
    } %}
{% endif %}

{% endblock %}
