<div class="landing-section project-gate">
    <div class="project-category">
        {{ entry.newBuildsText }}
    </div>
    <div class="project-category">
        {{entry.remodelsText}}
    </div>
</div>