{% block content %}

<div class="project landing">
    {% set projectImages = entry.projectImages.all() %}
    <div class="inner">
        {% if projectImages %}
            {% include '_includes/_blocks/slider' with { 
                slides: projectImages, 
                slideTemplate: '_includes/_blocks/slideProject',
                height: 'auto',
                visibleCards: 1,
                arrows: false
            } %}
        {% endif %}
        
        {% include '_projects/projectInfo' with {
            entry: entry,
            fadeIn: true
            }
        %}
        
        <div class="project-buttons fade-in" data-cascade>
            {% include '_includes/_icons/arrows' with {
                firstArrow: 'red-arrow'
            } %}
            <div class="icons">
                {% include '_includes/_icons/magnify' %}
                {% include '_includes/_icons/close' %}
            </div>
        </div> 
    </div>
    <div class="background gradient">
        {% for asset in projectImages %}
            {% include '_includes/_blocks/asset' with { asset: asset } %}
        {% endfor %}
    </div>
</div>

{% set projects = craft.entries()
    .section('projects')
    .type('project')
    .limit(4)
    .orderBy('RAND()')
    .all() %}

{% if projects %}
    {% include '_includes/_blocks/slider' with { 
        slides: projects, 
        slideTemplate: '_includes/_blocks/slideProjects',
        height: 'medium',
        visibleCards: 2,
        slideHeader: 'More Projects',
        fadeIn: true
    } %}
{% endif %}

{% endblock %}
