{% block content %}

<div class="projects">
    {% set projects = entry.getDescendants().all() %}
    
    {% if projects | length %}
        {% for project in projects %}
            <div class="project gradient">
                <div class="text">
                    {# opposite ordering of btn and project-info to use ~ operator in CSS for highlight effect #}
                    {% include '_includes/_blocks/button' with {
                        link: project.url,
                        label: 'Explore Project',
                        secondArrow: 'white-arrow'
                        }
                    %}
                    {% include '_projects/projectInfo' with {
                        entry: project,
                        class: 'highlight',
                        fadeIn: true
                    } %}
                </div>
                {% set asset = project.projectImages.one() %}
                {% if asset %}
                    <div class="overlay"></div>
                    {% include '_includes/_blocks/asset' %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No projects found for the selected category.</p>
    {% endif %}
</div>

{% endblock %}