{% block content %}

<div class="projects">
    {% for project in craft.entries.section('projects').type('project').all() %}
        <div class="project">
            <div class="text">
                {% include '_projects/_partials/projectInfo' with { entry: project } %}
                <a class="btn" href="{{ project.url }}">View Project</a>
            </div>
            {% set image = project.projectImages.one() %}
            {% if image %}
                <img src="{{ image.url }}" alt="{{ project.title }}">
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
